body {
    background-color: #404f41;
    color: #f5f5f5;
}

#title {
    text-align: center;
    font-size: 100px;
}

#submitButton {
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px;
}

#submitForm {
    border-radius: 10px;
    margin: 20px;
    margin-left: 40px;
    width: min-content;
    background-color: #da7536e1;
    display: inline-block;
    position: relative;

}

button {
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px;
}
 
#gameRoom {
    border-radius: 25px;
    width: 750px;
    background-color: #793c47;
    text-shadow: 3px 3px 1px #1B133E;
    position: relative;
    margin-left: 275px;
    display: inline-block;
    padding: 10px;
    bottom: 40px;
}

#randomDogImg {
    padding: 10px;
}

#formInfo {
    padding: 10px;
}
